<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://employeefunctionapp20221213160844.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0c432dd6-e070-47c7-b75a-f22b49038e56/resourcegroups/EmployeeFunctionApp_RSC/providers/Microsoft.Web/sites/EmployeeFunctionApp20221213160844</ResourceId>
    <UserName>$EmployeeFunctionApp20221213160844</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://employeefunctionapp20221213160844.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>